@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* --------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}

/* --------------------------- */

body {
    font-family: "Poppins", sans-serif !important;
}

img {
    max-width: 100%;
}

a {
    text-transform: capitalize;
    /* font-weight: bold; */
    color: #537159 !important;
    font-size: 16px;
}

.card-parent {
    overflow-x: auto;
    padding: 24px;
}

.recipe-parent .card {
    border-radius: 20px !important;
    border: 1px solid transparent !important;

    min-width: 250px;
    max-width: 300px;

    /* min-width: 18rem !important; */
    /* max-width: 18rem !important; */
    /* max-width: 350px !important; */
    /* min-height: 400px; */
    /* min-height: 420px !important; */

    position: relative;
}

.recipe-parent .card img {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}
.recipe-parent .rate {
    width: 30px;
    border-radius: 10px;
}

.recipe-parent .card .card-bookmark {
    display: none !important;

    position: absolute;
    top: 15px;
    right: 15px;

    width: 45px;
    height: 45px;
    border-radius: 100%;

    background-color: white;
}

.recipe-parent .card .card-title {
    font-weight: bold;
}

.recipe-parent .card .card-text {
    color: #555;
    font-size: 16px;
}

.recipe-parent .card:hover .card-bookmark {
    display: flex !important;
}

.bad {
    background-color: #ff0000;
}
.not-good {
    background-color: #ff8000;
}
.good {
    background-color: #ffff00;
}
.very-good {
    background-color: #80ff00;
}
.exellent {
    background-color: #00ff00;
}

/* . */

.recipe-category .card {
    min-width: 150px;
    max-width: 150px;
    border: none !important;
    opacity: 0.75;
}

.recipe-category .img-parent {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-category .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.cursor-pointer {
    cursor: pointer;
}

.gradient-to-top {
    background: linear-gradient(
        to bottom,
        rgba(240, 255, 244, 0) 0%,
        #f0fff4 100%
    );
}

.w-75 {
    width: 75%;
}

/* --------------------------- */

.btn {
    text-transform: uppercase;
    padding: 10px 20px !important;
}

.btn-primary {
    background-color: #537159 !important;
    border: 2px solid #c7f0d0 !important;
}

/* --------------------------- */

a.logo {
    font-size: 45px !important;
    font-weight: bold;
    color: #c7f0d0;
    -webkit-text-stroke: 1px #537159; /* Outline thickness and color */
}

/* --------------------------- */
/* NAV */
nav {
    background: white;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}
nav .active {
    font-weight: bold;
}

/* --------------------------- */
/* HEADER */
header {
    overflow: hidden;
}

header .container-fluid {
    margin-top: 20vh;
}

header .header-container {
    min-height: 70vh;
    background: linear-gradient(rgba(72, 112, 80, 0.7), rgba(72, 112, 80, 0.7)),
        url("./assets/header_banner.jpg") no-repeat center/cover;

    border-radius: 50px;

    position: relative;
}

header h1 {
    font-size: 32px;
    font-weight: bold;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
header p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.pizza-banner img {
    top: 0;
    left: 40%;
    max-width: initial;

    max-height: 100%; /* Image takes the maximum height available */
    object-fit: contain; /* Ensures the image scales correctly within the container */
}

.img-with-shadow {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 25px #222);
}

.paragraph {
    width: 100%;
    max-width: 900px;
}

/* --------------------------- */
/* TRENDING */

/* --------------------------- */
/* SHARE */
.share-recipe {
    /* min-height: 70vh; */
    overflow: hidden;
}

.share-recipe .container-fluid {
    padding: 0 !important;
    max-width: unset !important;
}

.share-recipe img {
    max-width: initial;
    max-height: 100%; /* Image takes the maximum height available */
    object-fit: cover;
    object-position: center;
}

.share-text {
    position: absolute;

    width: 90%;
    max-width: 500px;

    padding: 20px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/* --------------------------- */
/* EXPLORE */

.explore-recipe .recipe-category .card:hover,
.explore-recipe .recipe-category .card.active {
    opacity: initial;
}

.explore-recipe .recipe-category .card.active img {
    border: 5px solid #94e1a5 !important;
}

/* --------------------------- */
/* CATEGORY */
.category-recipe .recipe-category .card {
    opacity: initial;
    min-width: 200px;
    max-width: 200px;
}

.category-recipe .recipe-category .img-parent {
    height: 200px;
}

/* --------------------------- */
/* FOOTER */
footer {
    border-top: 10px solid #29ac43;
    border-bottom: 60px solid #c7f0d0;
    min-height: 30vh;

    position: relative;
}

footer svg {
    color: #537159;
    font-size: 25px;
}

footer .left svg:nth-of-type(1) {
    position: absolute;
    left: 10%;
    bottom: 35%;
}

footer .left svg:nth-of-type(2) {
    position: absolute;
    left: 15%;
    bottom: -5%;
    font-size: 35px;
}

/* ----------- */

footer .right svg:nth-of-type(1) {
    position: absolute;
    right: 15%;
    bottom: -5%;
}

footer .right svg:nth-of-type(2) {
    position: absolute;
    right: 20%;
    bottom: 10%;
    font-size: 35px;
}

footer .right svg:nth-of-type(3) {
    position: absolute;
    right: 5%;
    bottom: 25%;
    font-size: 30px;
}

/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
/* --------------------------- */
@media (min-width: 768px) {
    a {
        font-size: 18px !important;
    }

    header .pizza-banner {
        width: 100%;
        text-align: center;
    }
    header .pizza-banner img {
        position: initial !important;
        width: 350px;
    }

    .share-recipe img {
        width: 100%;
    }

    .container-fluid {
        padding: 0 7% !important;
    }

    /* ---------------------------- */
    /* ---------------------------- */
    /* ---------------------------- */
    /* ---------------------------- */

    .recipe-info .left {
        padding: 20px !important;
    }
}

@media (min-width: 1024px) {
    header .header-container {
        flex-wrap: nowrap !important;
        align-items: center !important;
    }

    .share-text {
        position: static !important;
        transform: unset;
        inset: 0 !important;
    }

    .share-recipe .share-parent {
        width: 50%;
        max-width: 600px;
        height: 50%;
    }
    .share-recipe .share-parent img {
        border-radius: 30px;
    }

    nav .nav-link {
        display: flex !important;
    }

    nav .bar {
        display: none !important;
    }

    /* ---------------------------- */
    /* ---------------------------- */
    /* ---------------------------- */
    /* ---------------------------- */

    .flex-container > div {
        flex: 1;
    }

    .recipe-header .left {
        width: fit-content;

        padding: 20px;
    }
    .recipe-header .header-container {
        align-items: center !important;
    }

    .recipe-header .pizza-banner {
        border-radius: 50px;
        align-self: normal;
    }

    .recipe-header .pizza-banner img {
        border-radius: 50px;
    }
}

/* --------------------------- */
/* --------------------------- */
/* --------------------------- */

/* --------------------------- */
.recipe-header .pizza-banner {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    background: rgba(72, 112, 80, 0.8);
    /* min-height: 50vh !important; */
    width: 100%; /* Adjusts the width automatically to maintain aspect ratio */
}

.recipe-header .pizza-banner img {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    position: static !important;
    top: initial;
    left: initial;
    max-width: 100%;
    max-height: 100%;
    /* object-fit: contain; */
}

.recipe-header .recipe_title {
    width: 80%;
}
.recipe-header .recipe_summary {
    background: #f4f4f4;
    color: black;
    text-shadow: none;
}

/* ----------------------------- */
.recipe-info .left {
    background: #537159;
    border-radius: 50px;
}
.recipe-info .right {
    /* background: red;      */
}

.recipe-info .left h2 {
    color: #c7f0d0;
}

.recipe-info .box {
    background: #f4f4f4;
    min-width: 50px;
    min-height: 50px;
}

/* ----------------------------- */
.recipe-detailed-instruction .accordion-item {
    background: #537159 !important;
    color: white !important;
}
.recipe-detailed-instruction button {
    background: transparent !important;
    color: white !important;
}
.accordion-button::after {
}

.recipe-time {
    font-size: 150px;
    line-height: 0.8;
}
.recipe-clock {
    font-size: 250px;
    color: #537159;
}

.step-by-step {
    max-width: 700px;
    margin: auto;
}
